<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h2>Result is {{result}}</h2>


  <form action="compute" method="post">
        <textarea name="input1" rows="3" cols="30"></textarea>
        <textarea name="input2" rows="3" cols="30"></textarea>
        <textarea name="input3" rows="3" cols="30"></textarea>
        <textarea name="input4" rows="3" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

      <h3>The Algorithm</h3> 
      Algorithm is taking an array, two index and a boolean variable. Then, it is sorting the integers<br> 
      between received indices in array ascending or descending according to received boolean variable.

      <h3>Input Format</h3>
      In first form, enter array elements seperated by ";". Like "1;2;3;..."
      <br>
      Second form is for first index. Enter another integer.
      <br>
      Third form is for first index. Enter another integer.
      <br>
      Last form is for decreasing or increasing choice. Write "true" for decreasing or "false" for increasing.
      <br>