<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h2>Result is {{result}}</h2>


  <form action="compute" method="post">
        <textarea name="input1" rows="3" cols="30"></textarea>
        <textarea name="input2" rows="3" cols="30"></textarea>
        <textarea name="input3" rows="3" cols="30"></textarea>
        <textarea name="input4" rows="3" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

  <h3>The Algorithm</h3> is taking an array, two index and a boolean variable. Then, it is sorting the integers 
  between received indices in array ascending or descending according to received boolean variable.

  <h3>Array input format is</h3> "(arrayElement1);(arrayElement2);(arrayElement3);..."
    <br>
    <br>
    First Box -> Array
    <br>
    Second Box -> First Index
    <br>
    Third Box -> Last Index
    <br>
    Last Box -> True/False (True-Decreasing | False-Increasing)
    <br>